#container{
    width: 260px;
    height: 340px;
    box-shadow: 0 0 5px 1px var(--Dark-Gray);
}
#container:hover{   transform: scale(1.10);}

.card_text{  padding: 20px;}

.link{ text-decoration: none; }
.card_text h3{   padding-block: 10px;  font: 600 20px 'Nunito Sans', sans-serif;}

.card_text p{  font: 300 16px 'Nunito Sans', sans-serif;}

.card_text p span{  font: 600 16px 'Nunito Sans', sans-serif;}

.card_img img{   width: 100%;   height: 150px;  }