.btn_close{
    border: none;
    box-shadow: 0 0 5px 1px var(--Dark-Gray);
    padding: 8px 15px;
    width: 80px;
    display: flex;
   text-decoration: none;

}
.btn_close:active{   box-shadow: 0 0 1px 0px var(--Dark-Gray);}