@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
:root{

  --Very-Light-Gray /*(Light Mode Background)*/: hsl(0, 0%, 98%);

  --Dark-Blue /*(Dark Mode Elements)*/: hsl(209, 23%, 22%);
  --Very-Dark-Blue /*(Dark Mode Background)*/: hsl(207, 26%, 17%);
  --Very-Dark /*(Light Mode Text)*/: hsl(200, 15%, 8%);
  --Dark-Gray /*(Light Mode Input)*/: hsl(0, 0%, 52%);
  --White /*(Dark Mode Text & Light Mode Elements)*/: hsl(0, 0%, 100%);
}

.dark{

  background: var(--Very-Dark-Blue);
  color: var(--White);
  transition: all .5s linear;
}

.dark_blue{
  background: var(--Dark-Blue);
  color: var(--White);
  transition: all .5s linear;

}

.light{
  background: var(--Very-Light-Gray);
  color: var(--Very-Dark);
  transition: all .5s linear;

}

.btn-dark{
  color: var(--White);
}
.btn-light{
  color: var(--Very-Dark);
}