#container{
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
#container div a{
    border: none;
    box-shadow: 0 0 5px 1px var(--Dark-Gray);
    padding: 8px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-decoration: none;
}
#container div a:active{
    box-shadow: 0 0 1px 0px var(--Dark-Gray);
}